#viz {
    display: flex;
    flex-wrap: wrap;
}

#mapa {
    width: 30%;
    height: 45vh;
}

#chartbox {
    width: 70%;
    height: 45vh;
}

#corchart {
    position: relative;
    width:100%;
    height: inherit;
}

#tsel {
    max-width: 100%;
}

.highcharts-tooltip {
    visibility:hidden;
}

#topicsel {
    max-width: 100%;
    text-align: center;
    margin: 3px;
}

#ttip {
    min-height: 170px;
    margin-top: 30px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
    #mapa, #corchart {
      width: 100%;
    }
    #ttip {
        min-height: 0px;
    }
    #chartbox {
        display: none;
    }
  }